<!doctype html>

<html>
<head>
	<title>Adding Friends</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/hci-friends.css" rel="stylesheet">
       
</head>

<body>
	<h3> You added a new friend! </h3>
	<h4><a href="/">Homepage</a></h4>
</body>
</html>